.card-img-2 {
  width: 45%;
  height: 400px;
  /* Link to your background image using in the property below! */
  background: scroll center
    url("https://thumbs.dreamstime.com/b/coffee-croissant-seamless-pattern-background-vector-food-design-icons-hand-drawing-elements-graphic-texture-restaurant-68088453.jpg");
  background-size: cover;
}
body {
  background: #f8f8f8;
  background: linear-gradient(to right, #f2f2f2, #f2f2f2);
}
.card-img-left {
  width: 45%;

  /* Link to your background image using in the property below! */
  background: scroll center
    url("https://thumbs.dreamstime.com/b/coffee-croissant-seamless-pattern-background-vector-food-design-icons-hand-drawing-elements-graphic-texture-restaurant-68088453.jpg");
  background-size: cover;
}
#nav-bar {
  background-color: #fff;
  box-shadow: 0 -10px 14px #000;
}
.font-icon {
  color: #4649ff;
  font-size: x-large;
}
